---
interface Props {
  bgClass: string;
  contentPaddingClass?: string;
}
const { bgClass, contentPaddingClass } = Astro.props;
---

<div class={bgClass + " bg-cover"}>
  <div
    class="bg-gradient-to-l rtl:bg-gradient-to-r from-transparent via-black/50 to-black"
  >
    <div
      class={"w-full max-w-screen-xl mx-auto " +
        (typeof contentPaddingClass === "string" ? contentPaddingClass : "")}
    >
      <slot />
    </div>
  </div>
</div>
